<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11B26</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsrc</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Resource file.icns</string>
			<key>CFBundleTypeName</key>
			<string>ResourceMap</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rsrc</string>
				<string>RSRC</string>
				<string>????</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.resource-map</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ResourceDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ResKnife Cocoa</string>
	<key>CFBundleGetInfoString</key>
	<string>A resource editor for Mac OS X.</string>
	<key>CFBundleIconFile</key>
	<string>ResKnife.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.nickshanks.resknife</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ResKnife</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6 svn</string>
	<key>CFBundleSignature</key>
	<string>ResK</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4B110</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11A511a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0410</string>
	<key>DTXcodeBuild</key>
	<string>4B110</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Application</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Resource Map</string>
			<key>UTTypeIconFile</key>
			<string>Resource file.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.resource-map</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>rsrc</string>
					<string>RSRC</string>
				</array>
				<key>public.filename-extension</key>
				<string>rsrc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
